@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: dark;
  }
}

@layer utilities {
  .px-shell {
    @apply px-6 desktop:px-0;
  }

  .w-shell-full {
    @apply -mx-6;
  }

  .border-surface {
    @apply dark:border dark:border-slate-800;
  }

  .bg-surface {
    @apply bg-white dark:bg-slate-900/80;
  }

  .hover-surface {
    @apply dark:hover:bg-slate-900;
  }

  .shadow-surface {
    @apply transition duration-500 shadow-md hover:shadow-lg dark:shadow-lg dark:hover:shadow-violet-500/20;
  }

  .text-surface-primary {
    @apply text-slate-800 dark:text-slate-200;
  }

  .text-surface-secondary {
    @apply text-slate-700 dark:text-slate-300/95;
  }

  .text-surface-tertiary {
    @apply text-slate-600 dark:text-slate-400;
  }

  .text-balance {
    text-wrap: balance;
  }
}

.prose {
  @apply prose-slate dark:prose-slate dark:prose-invert;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply no-underline text-violet-700 dark:text-violet-400 hover:underline break-words;
}

.prose .anchor:after {
  @apply text-slate-400 dark:text-slate-600;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

.prose pre {
  @apply bg-surface rounded-lg overflow-x-auto;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose h2,
h3,
h4 {
  @apply tracking-tight font-semibold !important;
}
