.card {
  background-color: var(--mantine-color-dark-7);
}

.hoverCard {
  transition: transform 200ms ease;
  &:hover {
    background-color: var(--mantine-color-dark-6);
    transform: scale(1.025);
  }
}
