.label {
  font-size: var(--mantine-font-size-lg);
  font-weight: 400;
  color: var(--mantine-color-gray-2);
}

.title {
  font-size: var(--mantine-font-size-md);
  color: var(--mantine-color-gray-4);
}

.details {
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-gray-6);
}
